.section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--bg);
}
  
.wave {
    position: absolute;
    bottom: 0;
}

.wave path {
    fill: var(--wave);
}

.blob {
    width: 20%;
}