/* CSS pour le darkmode */

body {
    margin: 0;
    padding: 0;
    
    --bg: white;
    --wave: #f3f4f5;
    --textNormal: black;
    --textTitle: black;
    --textComp: white;
    --navLink: #f7f7f7;
    --hr: hsla(0, 0%, 0%, 0.2);

    --gradient: linear-gradient(to right, #7a21ff, #21D4FD);
    --gradientColor1: #7a21ff;
    --gradientColor2: #21D4FD;

 }
  
body.dark {
    -webkit-font-smoothing: antialiased;
  
    --bg: rgb(64, 65, 65);
    --wave: #273036;
    --textNormal: white;
    --textTitle: white;
    --textComp: white;
    --navLink: rgb(54, 54, 54);
    --hr: hsla(0, 0%, 100%, 0.2);

    --gradient: linear-gradient(to right, #EA5455, #FEB692);
    --gradientColor1: #EA5455;
    --gradientColor2: #FEB692;
}

/* CSS pour la scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 20px;
    border: 3px solid #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
  }
  